// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.meta {
  font-size: 13px;
}

/* header area up top */
body > header h1 {
  line-height: 27px;
  font-family: 'proxima-nova';
  span {
    font-size: 0.5em; 
    color: #888; 
    font-style: normal;
  }
  a {
    font-weight: 800; 
    color: #222 !important;
  }
}


#content .blog-index article h1 {
  font-size: 1.7em;
  a { color: #333; }  
}

.entry-title { color: #333; }
.entry-content {
  h2, h3 { color: #444; }
  p { color: #444; }
  li { color: #444; }
  blockquote { font-size: 1em; }
} 

p.meta + .sharing { 
  padding-bottom: 1em; 
}
.meta .categories { 
  font-size: .85em; 
}
.post-nav a { 
  font-weight: bold;
}
